.header44
    .main_menu
        a(href='/')
            img(src='/img/logo.png', height='26')
    .social
        script(type='text/javascript', src='//yandex.st/share/share.js', charset='utf-8')
        .yashare-auto-init(data-yasharel10n='ru', data-yasharetype='none', data-yasharequickservices='vkontakte,facebook,twitter,odnoklassniki,moimir')
    .search_panel
        span.searchbar
            form(action='/search/title', name='searchform', method='get')
                input#story(name='q', value='Поиск', onblur="if(this.value=='') this.value='Поиск';", onfocus="if(this.value=='Поиск') this.value='';", type='text')
                button.fbutton2(onclick='submit();', type='submit', title='ok', style='float: right;')
                    span ok
.header55
    include topmenu
div(style='clear:both')
.horizontal2
    .horizontal
        .carousel
            a.carousel_prev.carousel_left(href='') prev
            .carousel_container
                ul.portfolio_items
                    if top
                        each movie in top
                            li
                                .inner
                                    a(href=movie.url, title=movie.title_ru + ' (' + movie.year + ')')
                                        img(src=movie.poster, width='118')
            a.carousel_next.carousel_right(href='') next