.leftblok1_header
    .navigation
        .topmenu
        .deepnavigation
            table.menu
                tbody
                    tr
                        td.item
                            a(href='/')
                                span.name Главная
                        td.item
                            a(href='/#{urls.year}/2016')
                                span.name Новинки
                        td.item
                            a(href='/#{urls.type}/Сериалы')
                                span.name Сериалы
                        td.item
                            a(href='/#{urls.type}/Мультфильмы')
                                span.name Мультфильмы